.tablesorter {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.tablesorter td {
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #ccc;
  vertical-align: top;
}

.tablesorter caption {
	font-weight: bold;
	background: #d0d0d0;
	border: 1px solid #ccc;
}

.tablesorter th {
	background: #d0d0d0;
    overflow: hidden;
    text-overflow: ellipsis;
	border: 1px solid #ccc;
	text-align: left;
}

table.tablesorter thead tr .header {
	background-image: url(../../img/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../../img/asc.gif);
	background-repeat: no-repeat;
	background-position: center right;
}

table.tablesorter thead tr .headerSortDown {
	background-image: url(../../img/desc.gif);
	background-repeat: no-repeat;
	background-position: center right;
}

.tablesorter tr {
	border: 1px solid #ccc;
}

.tablesorter tr:nth-child(even) {
	background: #e0e0e0;
}

/* Column widths are based on these cells */
.column_number {
  width: 6%;
}

.column_name {
  width: 60%;
}

.column_date_seen {
  width: 17%;
}

.column_comments {
  width: 17%;
}
